/* Put your css in here */

[name=countryCode],img{
  display:none;
}
#captchaImg1{
display: inline-block;
  width:150px;
}
[name=smsForm] table tr:nth-child(4) {
    display:none;
}
[name=smsForm] table tr:nth-child(6) {
    display:none;
}
[name=smsForm] table tr:nth-child(8) {
    display:none;
}
[name=smsForm] table tr:nth-child(9) table {
  margin-left: -150px;
}
[name=smsForm] table tr:nth-child(9) tr:nth-child(1) {
    display:none;
}
[name=smsForm] table tr:nth-child(9) tr:nth-child(2) {
    display:none;
}